@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  transition: background-color 0.3s;
}

html.dark body {
  background-color: #0f172a;
}

html:not(.dark) body {
  background-color: #eff6ff;
}
